/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --text-color: #f1b2ce;
  --text-accent-color: #000028;
  --accent-color: #ff0070;
  --title-color: #db00ff;
  --button-color: #ff0070;
  --decor-color: #ff0070;
  --section-title-color: #ff0070;
  --button-color-hover: rgba(255, 0, 112, 0.4);
  
  --background-image: url('../images/cover-image-dark.png');
  --rec-visibility: visible;
}