/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --text-color: #353430;
  --text-accent-color: #353430;
  --accent-color: #FF8DCB;
  --title-color: #FFC2E6;
  --button-color: #353430;
  --decor-color: #353430;
  --section-title-color: #353430;
  --button-color-hover: rgba(53, 52, 48, 0.4);
  
  --background-image: url('../images/cover-image-light.png');
  --rec-visibility: hidden;
}

@media (prefers-color-scheme: light) {
  :root {
    --text-color: #353430;
    --text-accent-color: #353430;
    --accent-color: #FF8DCB;
    --title-color: #FFC2E6;
    --button-color: #353430;
    --decor-color: #353430;
    --section-title-color: #353430;
    --button-color-hover: rgba(53, 52, 48, 0.4);
    
    --background-image: url('../images/cover-image-light.png');
    --rec-visibility: hidden;
  }
}