/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-image: var(--background-image);
  color: var(--text-color);
  font-family: var(--text-font);
  font-weight: 400;
  font-size: var(--text-size);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.header {
  position: relative;
  min-height: 100vh;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  padding: 10px;
}

.decorated-zone__rec {
  position: absolute;
  top: 10px;
  right: 38px;
  color: var(--decor-color);
  line-height: 25px;
  visibility: var(--rec-visibility);
  text-transform: uppercase;
}

.decorated-zone__rec::after {
  content: "";
  position: absolute;
  margin-left: 10px;
  margin-top: 8px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: var(--decor-color);
  box-shadow: 0 0 4px 2px var(--decor-color);
}

.decorated-zone::before {
  content: "";
  position: absolute;
  top: 10px;
  right: 10px;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--decor-color);
  border-right: 1px solid var(--decor-color);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--decor-color);
  border-left: 1px solid var(--decor-color);
}

.header__theme-menu {
  justify-self: end;
  align-self: center;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;
}

.header__theme-menu-button {
  background: none;
  border: 1px solid transparent;
  padding: 1.5px 13px;
  color: var(--button-color);
  text-transform: lowercase;
  cursor: pointer;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--button-color-hover);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--button-color);
}

.header__theme-menu-button_active {
  border: 1px solid var(--button-color);
  pointer-events: none;
}

.header__title {
  justify-self: start;
  align-self: center;
  margin: 0;
  font-weight: 700;
  line-height: 0.825;
  color: var(--title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
}

.header__description {
  justify-self: end;
  align-self: center;
  text-wrap: balance;
}

.title-decor {
  background-color: var(--accent-color);
  color: var(--text-accent-color);
  font-weight: 700;
  line-height: 1.3;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 40px 10px;
}

.section {
  display: grid;
  gap: 20px;
}

.section__title {
  font-size: inherit;
  font-weight: 700;
  color: var(--section-title-color);
  margin: 0;
}

.section__content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card__title {
  font-size: inherit;
}

.card__subtitle {
  font-weight: 400;
}

.card__text {
  color: var(--text-color);
  line-height: 1.3;
}

.card__text + .card__text {
  margin-top: 10px;
}

.card__link {
  color: var(--text-color);
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
  transition: border 0.3s ease;
}

.card__link:hover {
  border-bottom: 1px solid var(--text-color);
}

.card__link:focus {
  outline: none;
}

.card__link:focus-visible {
  outline: 1px solid var(--text-color);
  outline-offset: 1px;
}

.gallery {
  gap: 10px;
}

.gallery__content {
  display: grid;
  gap: 10px;
}

.gallery__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.footer {
  position: relative;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.footer__title {
  margin: 0;
  font-weight: 700;
  line-height: 0.825;
  color: var(--title-color);
  text-shadow: 2px 2px 0 var(--accent-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
}


@media (min-width: 768px) {
  .header {
    padding: 20px;
  }

  .header__description {
    max-inline-size: 50%;
  }

  .decorated-zone__rec {
    top: 20px;
    right: 48px;
  }

  .decorated-zone::before {
    top: 20px;
    right: 20px;
  }

  .decorated-zone::after {
    bottom: 20px;
    left: 20px;
  }

  .main {
    gap: 80px;
    padding: 50px 20px;
  }

  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    margin-left: -20px;
  }
  
  .reasons, .tips {
    grid-template-columns: 1fr 2fr;
    align-items: start;
  }
  
  .reasons .section__content {
    display: grid;
    grid-template-rows: repeat(2, min-content);
    gap: 20px;
  }

  .tips .section__content {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .gallery {
    gap: 20px;
  }
  
  .gallery__content {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 20px;
  }
  
  .gallery__image:nth-child(1) {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }
  
  .gallery__image:nth-child(2) {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
  }
  
  .gallery__image:nth-child(3) {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
  }
  
  .gallery__image:nth-child(5) {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
  }

  .footer {
    padding: 20px;
  }
  
  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

@media (min-width: 1024px) {
  .header__theme-menu {
    justify-self: center;
    align-self: start;
  }
  
  .header__theme-menu-list {
    flex-direction: row;
  }

  .distractions .section__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  
  .tips {
    grid-template-columns: 1fr 2fr;
  }
}